#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: start;
  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 400px;
    .form-row {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: .25rem;
      label {
        font-size: large;
        font-weight: bold;
      }
      input {
        border-radius: 10px;
        height: 24px;
        width: 96.5%;
        padding: 5px;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1rem;
    li {
      display: flex;
      gap: .5rem;
      align-items: center;
      label {
        display: flex;
        gap: .5rem;
        margin-right: auto;
        input {
          width: 1.25rem;
        }
      }
      .btn-danger {
        background-color: red;
      }
    }
  }
}

